html, body {
  height: 100%;
  margin: 0;
}

.content {
  float: left;
  height: 100%;
  padding-left: 10px;
}

#botContainer {
  float: right;
  height: 99%;
  width: 460px;
  position: relative;
  display: none;
  border-width: 2px;
  border-style: inset;
}

#botContainer.wc-display {
  display: block;
}

.ac-input div input[type="checkbox"] + div{
  flex: auto !important;
  white-space: unset!important;
  margin: -5px 6px 10px 6px !important;
}

.ac-input div input[type="checkbox"]:checked + div{
  color: #363636 !important;
  font-weight: 700 !important;
}

.ac-multichoiceInput {
  font-family: "Segoe UI", sans-serif;
  padding: 0.25rem;
  font-size: 0.9rem;
  border-color: #ccc;
  appearance: none;
  -webkit-appearance: none;
   -moz-appearance: none;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkU4QTMzNkUyNDAwQzExRTNBOEY4OTE4N0E1NkQ4QjVCIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkU4QTMzNkUzNDAwQzExRTNBOEY4OTE4N0E1NkQ4QjVCIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6RThBMzM2RTA0MDBDMTFFM0E4Rjg5MTg3QTU2RDhCNUIiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6RThBMzM2RTE0MDBDMTFFM0E4Rjg5MTg3QTU2RDhCNUIiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4x37VGAAAAWklEQVR42mI0NjZeysDAEMWAHyxlAhKZQPwAj6L7QJwFUvgJiKOB+C8WRX+gcp+YoALHgLgZi0KQ2HEQgwlJsAWIjyLxjwBxK4yDrBBkdQwQf4DiGGTnAAQYAGJbEyV4nwHtAAAAAElFTkSuQmCC");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  text-indent: .5em;
}

.ac-multichoiceInput:hover,
.ac-multichoiceInput:focus,
.ac-multichoiceInput:active {
  border-color: #0078d7;
  cursor: pointer;
}
.mobile {
  font-size: 225%;
}

.mobile button {
  font-size: 1.25rem;
  padding: 0.5rem;
  background-color: white;
}

.mobile .wc-header {
  height: auto;
  padding: 0.5rem;
}

.mobile .wc-card {
  border: none;
}

.mobile .ac-container {
  background-color: #eceff1 !important;
}

.mobile .ac-container .ac-container {
  background-color: white !important;
}

.mobile .ac-container div div div {
  background-color: white;
}

.mobile .ac-container:focus {
  outline: none;
}

.mobile .wc-adaptive-card {
  width: 100%;
}

.mobile .wc-message-content {
  padding: 0.5rem;
}

.mobile body .wc-app {
  font-size: 1rem;
}

.mobile .wc-message-from {
  font-size: 0.85rem;
}

.mobile .wc-message-groups {
  bottom: 0;
}

.mobile button + div, .mobile select + div {
  height: 0.5rem !important;
  background-color: #eceff1 !important;
}

.mobile ul li,.mobile ol li {
  margin-bottom: 0.25rem;
}

.mobile .ac-multichoiceInput {
  font-size: 1.25rem;
  background-color: white;
  padding: 0.5rem;
  background-size: auto 20%;
}

.mobile div.ac-input div {
  font-size: 1.25rem !important;
  line-height: initial !important;
}

.mobile div.ac-input input[type='checkbox'] {
  height: 1rem;
  width: 1rem;
  margin: 5px !important;
}